p {
    background-color: yellow;
}

.special {
    font-size: 24px;
}

div .highlight {
    background-color: green;
}

a[href]{
    color: blue;
}

img[src$=".jpg"]{
    border: solid red 2px;
}

a:hover {
    background-color: red;
}

p::first-line {
    color: red
}

li:first-child {
    font-style: italic;
}

input:focus {
    border-color: blue;
}

.warning::before {
    content: "⚠️";
}


p:last-of-type {
    background-color: yellow;
}

.note::after {
    content: "📝";
}

a:visited {
    color: gray;
}

.quote::first-line {
    font-style: italic;
}

li:nth-child(odd) {
    font-weight: bold;
}